.postitem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: burlywood;
  height: fit-content;
  padding: 1rem;
}
.post_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.post_title_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.5rem;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
