.postitem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.post_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: #178582;
}
.post_title_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.5rem;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postitem_comments {
  color: #178582;
}
