.comment_item {
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #bfa181;
}
.item_first {
  display: flex;
  flex-direction: column;
}
.delete_icon {
  align-self: center;
  align-items: flex-end;
}
