.comment_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(194, 182, 182);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.comment_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 10rem;
  overflow-y: scroll;
}
.comment_content::-webkit-scrollbar {
  display: none;
}
