.header {
  width: 100%;
  height: 6rem;
  background-color: #0a1828;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #d47b1c;
}
.header_part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 2rem;
}

.customButton {
  padding: 1rem;
  border-radius: 5px;
  background-color: #178582;
  width: 10rem;
  text-align: center;
}
